.menu {
    
    &--default {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0 2rem;

        @include breakpoint(768) {
            flex-direction: row;
        }
    }

    &--default li {
        margin: 0 2rem 0 0;

        &:last-of-type {
            margin: 0;
        }
    }

    &--default li a {
        text-decoration: none;
    }
}