.menu {

    &--main {
        margin: 0 2rem;
    }
    
    &__list--main {
        display: flex;
        flex-direction: column;
        list-style: none;

        @include breakpoint(768) {
            flex-direction: row;
        }
    }

    &__list--main li {
        margin: 0 2rem 0 0;

        &:last-of-type {
            margin: 0;
        }
    }

    &__list--main li a {
        text-decoration: none;
    }
}