.menu {
    
    &--default {
        display: flex;
        list-style: none;
        margin: 0 2rem;
    }

    &--default li {
        margin: 0 2rem 0 0;

        &:last-of-type {
            margin: 0;
        }
    }

    &--default li a {
        text-decoration: none;
    }
}