.footer {
    display: block;
    padding: 3.125rem 0;

    &__container {
        display: grid;
        grid-auto-rows: auto;
        grid-auto-columns: 1fr;
        width: 100%;
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 0 1em;
        gap: 2em;


        @include breakpoint(768) {
            display: grid;
            grid: "column-one column-two" auto
                  "column-three column-four" auto
                  "bottom-left bottom-right" auto 
                  / 1fr 1fr;
        }

        @include breakpoint(1024) {
            grid: "column-one column-two column-three column-four" auto
                  "bottom-left bottom-left bottom-right bottom-right" auto 
                  / 1fr 1fr 1fr 1fr;
        }
    }

    &__column {

        @include breakpoint(768) {
            &--one {
                grid-area: column-one;
            }
    
            &--two {
                grid-area: column-two;
            }
    
            &--three {
                grid-area: column-three;
            }
    
            &--four {
                grid-area: column-four;
            }
        }
    }

    &__bottom {

        @include breakpoint(768) {
            &--left {
                grid-area: bottom-left;
            }

            &--right {
                grid-area: bottom-right;
            }
        }
    }

}