/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,  dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody ,tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */

:root {

}

::-moz-selection {

}

::selection {

}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

html.no-js {

}

body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	display: block;
	text-decoration: none;
}

a:hover,
a:focus {

}

/* Wordpress */

.logged-in {

}

.wp-custom-logo {

}

p img.alignnone,
p img.aligncenter,
p img.alignleft,
p img.alignright {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

img.alignnone {
	float: none;
	margin-left: 0;
	margin-right: 0;
}

img.aligncenter {
	display: block; 
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	float: left;
	margin-right: 1rem;
}

img.alignright {
	float: right;
	margin-left: 1rem;
}

img.size-full {

}

img.size-large {
	
}

img.size-medium {
	
}

img.size-thumbnail {
	
}

.wp-caption {

}

.wp-caption.alignnone {

}

.wp-caption.alignleft {

}

.wp-caption.alignright {

}

.wp-caption img {

}

.wp-caption p.caption-text {

}

.screen-reader-text {

}

.screen-reader-text:focus {

}

/* Fonts & text */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-style: normal;
}

h1 {
	margin: 2.5rem 0 1.5rem;
}

h2 {
	margin: 2rem 0 1rem;
}

h3 {
	margin: 2rem 0 1rem;
}

h4 {
	margin: 2rem 0 1rem;
}

h5 {
	margin: 1.5rem 0 1rem;
}

h6 {
	margin: 1.5rem 0 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
	margin-bottom: 0;
}

p {
	font-size: 0.875em;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	margin: 1rem 0;
}

p > a {
	display: inline;
}

ul {
	list-style: disc;
	margin: 1rem 0;
}

ol {
	list-style: decimal-leading-zero;
	margin: 1rem 0;
}

ul > li {
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5;
}

ol > li {
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5;
}

ul > li > a {
	display: inline;
}

ul > li > a:hover,
ul > li > a:focus {

}

ol > li > a {
	display: inline;
}

ol > li > a:hover,
ol > li > a:focus {

}

q {
	font-size: 0.875em;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	margin: 1rem 0;
	quotes: "“" "”" "‘" "’";
}

blockquote {
	display: block;
	quotes: "“" "”" "‘" "’";
}

q::before,
blockquote::before {
	content: open-quote;
}

q::after,
blockquote::after {
	content: close-quote;
}

p:first-child,
ul:first-child,
ol:first-child,
q:first-child,
blockquote:first-child {
	margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
q:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

mark {
	background: #000000;
	color: #ffffff;
}

sup {
	font-size: 50%;
	vertical-align: top;
}

sub {
	font-size: 50%;
	vertical-align: bottom;
}

/* Cookies */
#cookie {
	opacity: 1;
	visibility: visible;
	transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out;
}

#cookie.hidden {
	opacity: 0;
	visibility: hidden;
}

html.no-js #cookie,
html.no-js #cookie.hidden {
	opacity: 1;
	visibility: visible;
}

#cookie .cookie__wrapper {

}

#cookie .cookie__container {

}

#cookie .cookie__header {

}

#cookie .cookie__body {

}

#cookie .cookie__buttons {

}

#cookie .cookie__button {

}

#cookie .cookie__button.cookie__button--accept {
	
}

#cookie .cookie__button.cookie__button--refuse{
	
}

#cookie .cookie__button.cookie__button--revoke {
	
}

#cookie-revoke {

}
