/**
 * general.scss
 */

:root {
	/* Font base */
	--font-size-base: 1em;
	--text-line-height: 1.5;
	
	/* Heading sizes */
	--font-size-h1: calc(var(--font-size) * 2.5);
	--font-size-h2: calc(var(--font-size) * 2);
	--font-size-h3: calc(var(--font-size) * 1.625);
	--font-size-h4: calc(var(--font-size) * 1.25);
	--font-size-h5: calc(var(--font-size) * 1);
	--font-size-h6: calc(var(--font-size) * 1);

	/* Margins */
	--text-margin: 1em 0;

	/* Transitions */
	--transition-duration: 150ms
	--transition-delay: 0ms;
	--transition-easing: ease-in-out;
}

::-moz-selection {

}

::selection {

}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	&.no-js {

	}
}

body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	
	:hover {

	}

	:focus {

	}

	:visited {

	}

}