/**
 * general.scss
 */

:root {

}

::-moz-selection {

}

::selection {

}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	&.no-js {

	}
}

body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	
	:hover {

	}

	:focus {

	}

	:visited {

	}

}