.header {
    display: block;
    position: relative;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    width: 100%;
    background-color: none;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    &__container {
        display: grid;
        grid: "logo sidebar toggle" var(--header-height)
              / 1fr auto auto;
        gap: 1em;
        width: 100%;
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 0 1em;
        height: 100%;

        @include breakpoint(768) {
            grid: "logo navigation sidebar" var(--header-height)
                  / auto 1fr auto;
        }
    }

    &__logo {
        grid-area: logo;
        align-self: center;
        max-width: 5rem;
    }

    &__navigation {
        grid-area: navigation;
        position: fixed;
        left: 0;
        top: var(--header-height);
        width: 100%;
        height: 100%;
        background-color: var(--color-light);
        z-index: 10;
        padding: 2rem 0 0 0;
        @include hidden;
        @include transition;
   
        @include breakpoint(768) {
            @include visible;
            position: relative;
            align-self: center;
            justify-self: flex-end;
            display: flex;
            width: initial;
            height: initial;
            top: initial;
            padding: 0;
        }
    }

    &__sidebar {
        grid-area: sidebar;
        align-self: center;
    }

    &__toggle {
        grid-area: toggle;
        align-self: center;

        @include breakpoint(768) {
            display: none;
        }

    }

}

.is-menu-open {

    .header__navigation {
        @include visible;
    }

}