/**
 * header.scss
 */

.header {
    --header-height: 4.25em;

    display: block;
    position: relative;
    transition: background-color var(--duration) var(--transition-easing), color var(--duration) var(--transition-easing);

    &--default {
        width: 100%;
        height: auto;
        background-color: none;
    }

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    &--scrolling {
        background-color: #ffffff;
    }

    &__container {
        @include grid(var(--header-height) calc(100vh - var(--header-height)), 1fr auto, "logo mobile" "nav nav");
        @include breakpoint(768) {
            @include grid(var(--header-height), auto 1fr, "logo nav");
        }
    }

    &__logo {
        grid-area: logo;
    }

    &__nav {
        grid-area: nav;
        @include hidden;
        transition: opacity var(--transition-duration) var(--transition-easing), visibility var(--transition-duration) var(--transition-easing);
        @include breakpoint(768) {
            @include visible;
        }
    }

    &__mobile {
        grid-area: mobile;
        @include breakpoint(768) {
            display: none;
        }

    }

}

.is-menu-open {

    .header__nav {
        @include visible;
    }

}