/**
 * forms.scss
 */

form {

}

legend {

}

label {
	
}

input {

	&[type="text"],
	&[type="password"],
	&[type="number"],
	&[type="email"],
	&[type="search"],
	&[type="url"],
	&[type="tel"],
	&[type="time"],
	&[type="week"],
	&[type="month"],
	&[type="date"],
	&[type="datetime"],
	&[type="datetime-local"] {
		@include form-styles-reset;
		@include form-styles;

		&:focus {

		}

		&:valid {

		}

		&:invalid {

		}

		&:enabled {

		}

		&:disabled {

		}

		&:optional {

		}

		&:required {

		}

	}

	&::-webkit-input-placeholder {

	}

	&::-moz-placeholder {

	}

	&:-ms-input-placeholder {

	}

	&::placeholder {

	}

	&[type="date"],
	&[type="time"] {

		&::-webkit-datetime-edit {

		}

	}

	&[type="checkbox"] {
		@include form-styles-reset;
		@include form-styles;
		width: 1em;
		height: 1em;

		&::before {
			@include form-checkbox-radio-before;
			border-radius: 3px;
		}

		&:checked {

			&::before {
				transform: scale(1);
			}

		}

	}

	&[type="radio"] {
		@include form-styles-reset;
		@include form-styles;
		width: 1em;
		height: 1em;
		border-radius: 50%;

		&::before {
			@include form-checkbox-radio-before;
			border-radius: 50%;
		}

		&:checked {

			&::before {
				transform: scale(1);
			}

		}

	}

	&[type="range"] {

		&:focus,
		&::-moz-focus-outer {

		}

		&::-webkit-slider-container,
		&::-webkit-media-slider-container {

		}

		&::-webkit-slider-runnable-track {

		}

		&::-moz-range-track {

		}

		&::-ms-track {

		}

		&::-ms-fill-lower,
		&::-ms-fill-upper {

		}

		&::-webkit-slider-thumb,
		&::-webkit-media-slider-thumb {

		}

		&::-moz-range-thumb {

		}

		&::-ms-thumb {

		}

	}

	&[type="submit"],
	&[type="button"],
	&[type="reset"] {

		&:hover {

		}

		&:focus {

		}

	}

	&[type="file"],
	&[type="image"] {

	}

}

textarea {
	@include form-styles-reset;
	@include form-styles;

	&::-webkit-input-placeholder {

	}

	&::-moz-placeholder {

	}

	&:-ms-input-placeholder {

	}

	&::placeholder {

	}

	&:focus {

	}

	&:enabled {

	}

	&:disabled {

	}

	&:optional {

	}

	&:required {

	}

}

select {
	@include form-styles-reset;
	@include form-styles;

	:-moz-focusring {

	}

	:focus {

	}

}