/**
 * general.scss
 */

:root {

}

::-moz-selection {
	background: var(--color-dark);
	color: var(--color-light);
}

::selection {
	background: var(--color-dark);
	color: var(--color-light);
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	&.no-js {

	}
}

body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	
	:hover {

	}

	:focus {
		outline: 0;
	}

	:visited {

	}

}

.embed-container {
	@include media-16-9;

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}