:root {

    /* Colors */
    --color-light: #ffffff;
	--color-gray: #969696;
	--color-dark: #000000;
	--color-text-light: #8f9194;
	--color-text-dark: #45474b;

    /* Font families */
	--font-open-sans: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    
	/* Durations */
	--duration-short: 150ms;
    --duration: 300ms;
	--duration-medium: 600ms;
	--duration-long: 1200ms;

	/* Transition */
	--transition: .3s ease-in-out;

	/* Sizes */
	--header-height: 4.25em;
	--container-width: 73.25em;
	--hero-height: auto;
    
    /* 768px */
    @media screen and (min-width: 48em) {

		/* Font base */
		--font-size-base: 1em;

		/* Sizes */
		--header-height: 6.25em;
		--hero-height: 34.375rem;
		--hero-height-large: 43.75rem;
		--hero-height-full: 100vh; 
	}

	@media screen and (min-width: 64em) {

	}
    
}
