/**
 * variables.scss
 */

:root {

    /* Colors */
    --color-light: #ffffff;
	--color-gray: #969696;
	--color-dark: #000000;
	--color-text-light: #8f9194;
	--color-text-dark: #45474b;

    /* Font base */
    --font-size-base: 0.75em;
    --font-weight-base: 400;
    --text-line-height: 1.8;
    --text-shadow:rgb(119, 119, 119) 1px 1px;
	
	/* Heading sizes */
	--font-size-h1: calc(var(--font-size-base) * 2);
	--font-size-h2: calc(var(--font-size-base) * 1.625);
	--font-size-h3: calc(var(--font-size-base) * 1.25);
	--font-size-h4: calc(var(--font-size-base) * 1.125);
	--font-size-h5: calc(var(--font-size-base) * 1);
	--font-size-h6: calc(var(--font-size-base) * 1);

    /* Font families */
	--font-open-sans: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	--font-raleway: "Raleway", Helvetica, Arial, Verdana, sans-serif;
	--font-varela-round: "Varela Round", Helvetica, Arial, Verdana, sans-serif;
	--font-dosis: "Dosis", Helvetica, Arial, Verdana, sans-serif;
	
	/* Links */
	--link-color: 0;
	--link-hover-color: 0;
	--link-active-color: 0;
	--link-focus-color: 0;
	--link-visited-color: 0;
    
	/* Durations */
	--duration-short: 150ms;
    --duration: 300ms;
	--duration-medium: 600ms;
	--duration-long: 1200ms;

	/* Transition */
	--transition: .3s ease-in-out;

	/* Sizes */
	--header-height: 4.25em;
	--container-width: 73.25em;
	--hero-height: auto;
    
    /* 768px */
    @media screen and (min-width: 48em) {

		/* Font base */
		--font-size-base: 1em;

		/* Sizes */
		--header-height: 6.25em;
		--hero-height: 34.375rem;
		--hero-height-large: 43.75rem;
		--hero-height-full: 100vh; 
	}

	@media screen and (min-width: 64em) {

	}
    
}
